.home {
  text-align: justify;
}

.home h1 {
  text-align: center;
}

.home img {
  padding: 1.5rem;
}

.home img:hover {
  filter: drop-shadow(0 0 3rem #673ab888);
}

.home section {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
}

.small {
  font-size: 75%;
}

.channel {
  margin-left: 20px;
}

.channel label {
  font-size: 14pt;
}

.channel select {
  border: 1px solid var(--nabu-gray);
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  color: var(--nabu-white);
  background-color: var(--nabu-light-blue);
}

@media (max-width: 639px) {
  .home section {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.faq {
  font-size: 12pt;
  line-height: 110%;
}

.faq h1 {
  margin-bottom: 1.5rem;
}

.faq h2 {
  margin-top: 1rem;
}

.progressMessage {
  white-space: nowrap;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  border: 1px solid var(--nabu-gray);
}

.progressBar .indicator {
  height: 24px;
  background-color: var(--nabu-light-yellow);
}

.openFileList {
  color: var(--nabu-cyan);
}

.openFileList h2 {
  font-size: 75%;
  text-align: left;
  text-decoration: underline;
  margin-bottom: auto;
}

.openFileList ul {
  list-style: none;
  padding-left: inherit;
  font-size: 65%;
  line-height: initial;
  margin-top: auto;
}

button.port {
  background-color: var(--nabu-dark-green);
  border: none;
  border-radius: 12px;
  color: var(--nabu-white);
  padding: 13px 15px 10px 15px;
  text-align: center;
  font-size: 14pt;
  text-transform: uppercase;
  font-family: "ModeSeven", "Helvetica Neue", arial, sans-serif;
}
