@import url("../assets/fonts/modeseven.css");

:root {
  font-family: "ModeSeven", "Helvetica Neue", arial, sans-serif;
  font-size: 22pt;

  /* https://en.wikipedia.org/wiki/TMS9918 */
  --nabu-black: #000000;
  --nabu-medium-green: #0aad1e;
  --nabu-light-green: #34c84c;
  --nabu-dark-blue: #2b2de3;
  --nabu-light-blue: #514bfb;
  --nabu-dark-red: #bd2925;
  --nabu-cyan: #1ee2ef;
  --nabu-medium-red: #fb2c2b;
  --nabu-light-red: #ff5f4c;
  --nabu-dark-yellow: #bda22b;
  --nabu-light-yellow: #d7b454;
  --nabu-dark-green: #0a8c18;
  --nabu-magenta: #af329a;
  --nabu-gray: #b2b2b2;
  --nabu-white: #ffffff;

  --base-color: var(--nabu-white);
  color: var(--base-color);
  background: var(--nabu-magenta);
}

a {
  color: color-mix(in srgb, blue 20%, var(--base-color));
  text-decoration-style: dotted;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app > main {
  /* display: flex; */
  padding-top: 3.5rem;
  margin: 1rem auto;
  min-height: calc(100vh - 3.5rem);
  width: 800px;
  align-items: center;
  justify-content: center;
  line-height: 115%;
}

@media (max-width: 639px) {
  #app > main {
    margin: 0 2rem;
  }
}
